<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h6>
    {{ title }}!
  </h6>
  <nav class="nav nav-pills nav-justified">
    <a class="nav-link" routerLink="/" routerLinkActive="none">Home</a>
    <a class="nav-link" routerLink="/heroes" >List Heroes</a>
    <a class="nav-link" routerLink="/createHero" >Create Hero</a>
    <a class="nav-link" routerLink="/groups" >List Groups</a>
    <a class="nav-link" routerLink="/createGroup" >Create Group</a>
  </nav>
  <router-outlet></router-outlet>
</div>


